*{
    font-family: Arial, Helvetica, sans-serif;
}
/* Centrer le formulaire au milieu de la page */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #434255;
}

/* Formulaire */
.login-form {
    width: 100%;
    max-width: 507px;
    padding: 93px 70px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Titre */
.login-title {
    text-align: center;
    font-size: 27px;
    margin-bottom: 40px;
    font-weight: bold;
}

/* Champs de formulaire */
.form-group {
    margin-bottom: 20px;
}

.form-label {
    font-size: 14px;
    color: #333;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

/* Conteneur mot de passe */
.password-container {
    position: relative;
}

/* Icône de l'œil pour masquer/afficher le mot de passe */
.eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
}

/* Bouton de soumission */
button.btn {
    width: 100%;
    padding: 15px;
    background-color: #ed9108;
    border: none;
    font-weight: 600;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button.btn:hover {
    background-color: rgb(190, 118, 10);
}

/* Message d'erreur */
.alert {
    background-color: #f8d7da;
    color: #721c24;
    padding: 15px;

    margin-bottom: 15px;
    border-radius: 5px;
}

/* HOME PAGE DEBUT */

.title-home {
    background-color: #7f7da1;
}
/* HOME PAGE FIN */

